@tailwind base;
@tailwind components;
@tailwind utilities;

@media (hover: hover) {
  .btn {
    @apply hover:shadow-[0px_3px_0px_0] hover:translate-y-[2px];
    @apply active:shadow-[0_0_0_0] active:translate-y-[5px];
  }

  .btn-hightlight {
    @apply hover:bg-tertiary-dark;
  }

  .btn-normal {
    @apply hover:bg-white;
  }

  .status__tab {
    @apply hover:bg-tertiary-dark;
  }

  .todo-item {
    @apply hover:bg-primary/10;
  }

  .add-btn {
    @apply hover:bg-tertiary-dark;
  }
}

@layer base {
  /* body.preload * {
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition-duration: 0s !important;
  } */

  i {
    @apply pointer-events-none;
  }

  /* --------- scrollbar setting --------- */

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-secondary;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-tertiary-dark;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-[#d0ab6e];
  }
  ::-webkit-scrollbar-thumb:active {
    @apply bg-[#7e622e];
  }

  /* --------- selection --------- */

  ::selection {
    @apply bg-primary/30 /* WebKit/Blink Browsers */;
  }

  ::-moz-selection {
    @apply bg-primary/30; /* Gecko Browsers */
  }

  /* --------- dialog --------- */

  dialog {
    @apply hidden w-full max-w-xs p-8 bg-secondary shadow-xl rounded-md;
  }

  dialog[open] {
    @apply animate-slide-up;
  }

  dialog[open]::backdrop {
    @apply bg-primary/30 h-[100vh] overflow-y-hidden animate-fade-in;
  }

  dialog[closing] {
    @apply animate-slide-down;
  }

  dialog[closing]::backdrop {
    @apply animate-fade-out;
  }

  textarea {
    @apply resize-none;
  }
}

@layer components {

  .btn {
    @apply py-1 px-3 text-sm text-primary border-2 border-primary rounded-md shadow-[0_5px_0_0] duration-200 transition-all;
    @apply active:shadow-[0_0_0_0] active:translate-y-[5px];
  }

  .btn-normal {
    @apply bg-[#f2e9e4];
  }

  .btn-hightlight {
    @apply bg-tertiary;
  }

  /* --------- status --------- */

  .status {
    @apply relative z-20 flex items-center w-full mb-1;
    @apply rounded-tl-2xl rounded-tr-2xl;
    @apply xs:text-lg;
  }

  .status__tab {
    @apply relative z-20 flex items-center justify-around w-full py-3 transition-colors duration-500;
    @apply bg-secondary text-primary text-center font-bold tracking-[0.3em]  rounded-sm transition-[box-shadow,transform,background-color] duration-300;
  }

  .status__tab + .status__tab {
    @apply ml-1;
  }

  .status__tab-all {
    @apply rounded-tl-xl;
  }

  .status__tab-completed {
    @apply rounded-tr-xl;
  }

  .status__tab--current {
    @apply bg-tertiary;
  }

  /* ---------- todo-item  ----------*/

  .todo-item {
    @apply flex flex-col items-center font-medium border-b border-primary/10 transition-colors duration-500 select-none;
  }

  .todo-item--todo-option-open {
    @apply bg-primary/10;
  }

  .todo-checkbox {
    @apply appearance-none flex items-center justify-center flex-shrink-0 w-4 h-4 border-[1.5px] border-primary rounded-sm cursor-pointer;
  }

  .todo-checkbox:checked + .todo-text {
    @apply line-through text-primary/40 decoration-primary/60 decoration-2 transition-all duration-500;
  }

  .todo-checkbox:checked::before {
    @apply content-[''] w-2 h-2 bg-primary/80 rounded-sm;
  }

  .todo-text {
    @apply flex flex-wrap text-primary tracking-[0.125em] ml-2 pl-2 mr-1.5 pr-1.5 my-1 py-1 cursor-pointer focus-visible:outline-none decoration-2 pointer-events-none bg-transparent;
    @apply xs:text-lg;
  }

  .todo-text[contenteditable="true"] {
    @apply border border-dashed border-current;
  }

  .todo-option-btn {
    @apply p-3 ml-auto;
  }

  .todo-option-btn__dot {
    @apply w-[3px] h-[3px] mb-0.5 rounded-full bg-primary pointer-events-none;
  }

  .todo-option-btn__dot:last-child {
    @apply mb-0;
  }

  .todo-option {
    @apply flex justify-end items-center w-full;
    @apply invisible max-h-0 opacity-0 mb-0 pr-[30px];
    @apply transition-all duration-500;
  }

  .todo-option--open {
    @apply max-h-[100px] visible opacity-100 mb-7;
  }

  /* edit btn & remove btn */
  .edit-btn,
  .remove-btn {
    @apply xs:text-base;
  }

  /* ---------- add-btn ------------ */

  .add-btn {
    @apply text-lg bg-tertiary border-l-4 border-primary rounded-br-xl transition-colors duration-100;
  }

  .add-btn--active {
    @apply !bg-tertiary-dark/80;
  }
}

@layer utilities {
  .show {
    @apply opacity-100 visible;
  }

  .hide {
    @apply opacity-0 invisible;
  }

  .todo-item--removing {
    @apply animate-remove-item;
  }

  /* scrollbar for firefox */ 
  .scrollbar {
    scrollbar-color: #ffc85a #eee5dc;
    scrollbar-width: thin;
  } 
}


