@tailwind base;
@tailwind components;
@tailwind utilities;

@media (hover: hover) {
  .btn {
    @apply hover:shadow-[0px_3px_0px_0] hover:translate-y-[2px];
    @apply active:shadow-[0_0_0_0] active:translate-y-[5px];
  }
}

@layer base {
  body.preload * {
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition-duration: 0s !important;
  }

  i {
    @apply pointer-events-none;
  }

  /* scrollbar setting */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-primary/30;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary/50;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-black;
  }

  /* selection */

  ::selection {
    @apply bg-primary/30 /* WebKit/Blink Browsers */;
  }

  ::-moz-selection {
    @apply bg-primary/30; /* Gecko Browsers */
  }

  /* dialog */

  dialog {
    @apply w-full max-w-[80%] p-8 bg-secondary shadow-xl rounded-md;
  }

  dialog[open] {
    @apply animate-slide-up;
    /* animation: slide-up 500ms forwards; */
  }

  dialog[open]::backdrop {
    @apply bg-primary/30 h-[100vh] overflow-y-hidden animate-fade-in;
  }

  dialog[closing] {
    @apply animate-slide-down;
  }

  dialog[closing]::backdrop {
    @apply animate-fade-out;
  }

  /* textarea */
  textarea {
    @apply resize-none;
  }
}

@layer components {
  .content {
    @apply mx-auto px-4;
  }

  .btn {
    @apply py-1 px-3 text-sm text-primary border-2 border-primary rounded-md shadow-[0_5px_0_0] duration-200 transition-all;
    @apply active:shadow-[0_0_0_0] active:translate-y-[5px];
  }

  .btn-normal {
    @apply bg-[#f2e9e4] hover:bg-[#ffffff];
  }

  .btn-hightlight {
    @apply bg-tertiary hover:bg-tertiary-dark;
  }

  .add-btn--active {
  }

  /* status */
  .status {
    @apply relative flex items-center w-full rounded-tl-2xl rounded-tr-2xl mb-1;
  }

  .status__tab {
    @apply relative z-20 flex items-center justify-around w-full bg-tertiary  text-primary text-center font-bold py-4 tracking-[0.3em];
  }

  .status__tab:nth-child(1) {
    @apply rounded-tl-xl;
  }
  .status__tab:nth-child(3) {
    @apply rounded-tr-xl;
  }

  .status__tab--current {
    @apply flex justify-center items-center;
    @apply before:content-['\f104'] before:font-Font-Awesome before:text-primary before:pr-1;
    @apply after:content-['\f105'] after:font-Font-Awesome after:text-primary after:pl-1;
  }

  .todo-item {
    @apply flex flex-col items-center px-6 py-2;
  }

  .todo-checkbox {
    @apply appearance-none flex items-center justify-center flex-shrink-0 w-4 h-4 border border-primary rounded-sm cursor-pointer;
  }

  .todo-checkbox:checked + .todo-text {
    @apply line-through text-primary/60;
  }

  .todo-checkbox:checked::before {
    @apply content-[''] w-2 h-2 bg-primary/80 rounded-sm;
  }

  .todo-text {
    @apply flex flex-wrap text-primary ml-2 pl-2 mr-1.5 pr-1.5 my-1 py-1 cursor-pointer focus-visible:outline-none decoration-2 pointer-events-none bg-transparent;
  }

  .todo-text[contenteditable="true"] {
    @apply border border-dashed border-current;
  }

  .todo-option-btn {
    @apply p-2 ml-auto;
  }

  .todo-option-btn__dot {
    @apply w-[3px] h-[3px] mb-0.5 rounded-full bg-primary pointer-events-none;
  }

  .todo-option-btn__dot:last-child {
    @apply mb-0;
  }

  .todo-option {
    @apply flex justify-start items-center w-full;
    @apply transition-all duration-500;
    @apply invisible max-h-0 opacity-0 mt-0 my-0;
  }

  .todo-option--open {
    @apply max-h-[100px] visible opacity-100 mt-2 my-4;
  }
}

@layer utilities {
  .show {
    @apply opacity-100 visible;
  }

  .hide {
    @apply opacity-0 invisible;
  }
}

/* 
以下的@keyframes 已經寫到tailwind.config.js裡面了，要刪也可以


 @keyframes popup {
  70% {
    @apply bottom-[130%];
  }

  100% {
    @apply opacity-100;
    bottom: calc(100% + 4px);
  }
}

How to prevent a CSS keyframe animation from running on page load?
https://stackoverflow.com/questions/27938900/how-to-prevent-a-css-keyframe-animation-from-running-on-page-load


@keyframes retreat {
  0% {
    @apply bottom-full opacity-100;
  }

  30% {
    @apply bottom-[130%];
  }

  90% {
    @apply opacity-100;
  }

  100% {
    @apply bottom-0 opacity-0;
  }
} 

@keyframes fade-in {
  0% {
    @apply opacity-0;
  }

  100% {
    @apply opacity-100;
  }
}

@keyframes fade-out {
  0% {
    @apply opacity-100;
  }

  100% {
    @apply opacity-0;
  }
} 

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(50%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slide-down {
  from {
    opacity: 1;
    transform: translateY(0%);
  }

  to {
    opacity: 0;
    transform: translateY(50%);
  }
} 

*/
